<style>
  <% @schedule.schedule_days.each do |schedule_day| %>
  <% day = "data-#{schedule_day.day.by_example('2006-01-02')}" %>
  .concert[<%= day %>]:first-child::before,
  .concert:not([<%= day %>]) + [<%= day %>]::before {
      content: "<%= schedule_day.day.by_example("Monday, January 2, 2006") %>";
      font-size: 1.875rem;
      line-height: 2.25rem;
      font-weight: 700;
  }

  <% end %>
</style>
<%= turbo_stream_from(current_user, :favorites) %>
<section data-controller="sold-out-data">
  <section>
    <div class="grid grid-cols-7 gap-0 mb-6" data-controller="calender">
      <% @schedule.schedule_days.each do |schedule_day| %>
        <section class="column">
          <div class="text-center border-b-2 "
               data-controller="css"
               data-css-status-value="false"
               data-css-on-class="border-red-700"
               data-css-off-class="border-transparent"
               data-css-target="elementToChange"
               data-calender-target="calenderDay"
               data-schedule-attribute="data-<%= schedule_day.day_string %>"
               data-action="click->css#toggle click->calender#filter">
            <%= schedule_day.day.by_example("Jan 2") %>
          </div>
        </section>
      <% end %>
      <section class="column" data-action="click->calender#showAll">
        <div>
          Show All
        </div>
      </section>
    </div>
    <div class="flex justify-center">
      <div class="w-4/5">
        <%= render "concerts/search_form" %>
      </div>
    </div>
  </section>
  <br>
  <% if current_user %>
    <%= render("favorites/list") %>
  <% end %>
  <section data-controller="sort">
    <% @concerts.sort_by(&:start_time).each do |concert| %>
      <%= render(concert, user: current_user) %>
    <% end %>
  </section>
</section>
</section>
