<div id="<%= dom_id ticket %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Concert:</strong>
    <%= ticket.concert_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Row:</strong>
    <%= ticket.row %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Number:</strong>
    <%= ticket.number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= ticket.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= ticket.status %>
  </p>

</div>
