<div id="<%= dom_id venue %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= venue.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= venue.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rows:</strong>
    <%= venue.rows %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Seats per row:</strong>
    <%= venue.seats_per_row %>
  </p>

</div>
