<%= turbo_frame_tag(dom_id(concert)) do %>
  <article class="my-4"
  data-sold-out-data-target="concert">
    <div class="grid grid-cols-5 gap-4">
      <div class="col-span-1 text-xl ">
        <%= concert.start_time.by_example("3:04 PM") %>
      </div>
      <div class="col-span-3">
        <div class="name">
          <div class="text-lg font-bold">
            <%= link_to concert.name,
                        concert,
                        data: { 'turbo-frame': '_top' } %>
          </div>
        </div>
        <p class="bands">
          <%= concert.bands.map(&:name).join(', ') %>
        </p>
        <p class="genres">
          <%= concert.genre_tags.split(', ').to_sentence %>
        </p>
        <div class="text-gray-500 font-bold">
          <%= concert.venue.name %>
        </div>

      </div>
      <div class="col-span-1 my-10 text-lg">
        <% if concert.sold_out? %>
          <div class="font-bold">
            Sold out
          </div>
        <% else %>
          <%= pluralize(concert.unsold_ticket_count, 'Tickets') %>
          Remaining
        <% end %>
        <br>
        <br>
        <div class="flex gap-1">
          <% if user %>
            <%= link_to "Edit",
                        edit_concert_path(concert),
                        class: SimpleForm.button_class %>
            <% if user.favorite(concert) %>
              <%= button_to "Unfavorite",
                            favorite_path(user.favorite(concert)),
                            method: 'delete',
                            form: { data: { 'turbo-frame': 'favorite_concerts' } }, # 在 turbo stream方案中该属性应该丢弃
                            class: SimpleForm.button_class
              %>
            <% else %>
              <%= button_to "Favorite",
                            favorites_path(concert_id: concert.id),
                            method: 'post',
                            form: { data: { 'turbo-frame': 'favorite_concerts' } }, # 在 turbo stream方案中该属性应该丢弃
                            class: SimpleForm.button_class %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </article>
<% end %>
