<div id="<%= dom_id concert %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= concert.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= concert.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Genre tags:</strong>
    <%= concert.genre_tags %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= concert.start_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Venue:</strong>
    <%= concert.venue_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ilk:</strong>
    <%= concert.ilk %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Access:</strong>
    <%= concert.access %>
  </p>

</div>
