<%= turbo_frame_tag(dom_id(concert)) do %>
  <%= form_with(model: concert, class: "contents") do |form| %>
    <% if concert.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(concert.errors.count, "error") %> prohibited this concert from being saved:</h2>

        <ul>
          <% concert.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5">
      <%= form.label :start_time %>
      <%= form.datetime_field :start_time, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :name %>
      <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :description %>
      <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :genre_tags %>
      <%= form.text_area :genre_tags, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>


    <div class="my-5">
      <%= form.label :venue_id %>
      <%= form.text_field :venue_id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :ilk %>
      <%= form.text_field :ilk, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :access %>
      <%= form.text_field :access, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit class: "#{SimpleForm.button_class} py-3" %>
      <%= link_to "Cancel",
                  concert_path(concert, inline: true),
                  class: "#{SimpleForm.button_class} py-3" %>
    </div>
  <% end %>
<% end %>
