<div id="<%= dom_id gig %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Concert:</strong>
    <%= gig.concert_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Band:</strong>
    <%= gig.band_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Order:</strong>
    <%= gig.order %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Duration minutes:</strong>
    <%= gig.duration_minutes %>
  </p>

</div>
